* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainYellow: #d2aa5c;
}

body {
	font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
	background: white;
}
